/* Universal Style */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  font-size: 1.3vw;
  line-height: 1.9;
  color: #110D04;
  background-color: #F9F9F9;
}

h1 {
  font-family: 'Yesteryear', cursive;
  font-size: 7vw;
  color: #F9F9F9;
  opacity: .9;
}

h2 {
  font-family: 'Yesteryear', cursive;
  font-size: 3.5vw;
  margin-bottom: 2rem;
  opacity: .8;
}

p {
  text-align: justify;
}

a {
  color: orange;
}

a:hover {
  text-decoration: none;
  color: goldenrod;
  border-bottom: 2px solid goldenrod;
  padding-bottom: 3px;
}

.content {
  padding-top: 5rem;
  padding-bottom: 5rem;
}


/* Title Section */
#title {
  background: url(../images/khatia_buniatishvili_top.jpg) no-repeat 50% 60%;
  height: 100vh;
  z-index: 100;
}

#title a {
  font-size: 5rem;
  color: rgba(249, 249, 249, .5);
  position: relative;
  top: 75vh;
  left: 45vw;
}

#title a:hover {
  color: rgba(249, 249, 249, .8);
  border: none;
  font-size: 5.5rem;
}

#khatia {
  position: absolute;
  z-index: 2;
  top: 35vh;
  left: 15vw;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 6s steps(600, end);
}

#buniatishvili {
  position: absolute;
  z-index: 2;
  top: 35vh;
  left: 55vw;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 10s steps(600, end);
}

@keyframes typing {
  from { width: 0; }
  to { width: 100% }
}


/* Quote Section */
#quote {
  padding-left: 6rem;
  padding-right: 6rem;
  background: url(../images/background-black.png);
  color: #F9F9F9;
}

#quote em {
  font-style: italic;
}

.blockquote-footer {
  color: gainsboro;
}


/* Biography Section */
#tribute-info {
  margin: 0;
  background: url(../images/background.png);
  border-bottom: 1px rgb(229, 228, 227) solid;
  box-shadow: 2px 2px 2px rgba(229, 228, 227, .3);
}

#side-bio {
  background-color: rgba(17, 13, 4, .5);
  margin-left: 5vw;
  color: rgba(249, 249, 249, .9);
}

#bio-img {
  max-width: 75%;
  height: auto;
  opacity: .9;
  border: 7px solid rgba(249, 249, 249, .9);
}

#bio {
  line-height: 1;
  margin-top: 3rem;
}


/* Discography Section */
#albums {
  margin: 0;
}

.card {
  width: 25vw;
  margin: 2rem .5rem;
}

.card img {
  width: 100%;
}

.card-img-top {
  border-bottom: 1px rgb(229, 228, 227) solid;
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 72.5%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(17, 13, 4, .8);
  overflow-y: hidden;
}

.album-name {
  color: rgba(249, 249, 249, .9);
  margin: 40% auto;
}

.card-img-top:hover .overlay {
  opacity: 1;
}

.card iframe {
  max-width: 100%;
}


/* Footer */
#footer {
  padding: 2rem;
  background: url(../images/background-black.png);
  color: #F9F9F9;
  font-size: .9rem;
}

#footer i {
  color: deeppink;
}